<div class="checkout-wrapper">
  <div class="inner-descripe" data-aos="fade-up" data-aos-delay="200">
    <h4 class="title">자주 묻는 질문
    </h4>
    <p>텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트
      텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트
      텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플
      샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 </p>
  </div>
  <br>
  <div id="faq" class="panel-group">
    <div class="panel panel-default single-my-account" data-aos="fade-up" data-aos-delay="200">
      <div class="panel-heading my-account-title">
        <h3 class="panel-title"><span>1 .</span> <a data-bs-toggle="collapse" href="#my-account-1" class="collapsed" aria-expanded="true">FAQ 1</a></h3>
      </div>
      <div id="my-account-1" class="panel-collapse collapse show" data-bs-parent="#faq">
        <div class="panel-body">
          텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플
        </div>
      </div>
    </div>
    <div class="panel panel-default single-my-account" data-aos="fade-up" data-aos-delay="200">
      <div class="panel-heading my-account-title">
        <h3 class="panel-title"><span>2 .</span> <a data-bs-toggle="collapse" href="#my-account-2" aria-expanded="false" class="collapsed">FAQ 2</a></h3>
      </div>
      <div id="my-account-2" class="panel-collapse collapse" data-bs-parent="#faq">
        <div class="panel-body">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플
        </div>
      </div>
    </div>
    <div class="panel panel-default single-my-account" data-aos="fade-up" data-aos-delay="200">
      <div class="panel-heading my-account-title">
        <h3 class="panel-title"><span>3 .</span> <a data-bs-toggle="collapse" href="#my-account-3">FAQ 3</a></h3>
      </div>
      <div id="my-account-3" class="panel-collapse collapse" data-bs-parent="#faq">
        <div class="panel-body">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플
        </div>
      </div>
    </div>
    <div class="panel panel-default single-my-account" data-aos="fade-up" data-aos-delay="200">
      <div class="panel-heading my-account-title">
        <h3 class="panel-title"><span>4 .</span> <a data-bs-toggle="collapse" href="#my-account-4">FAQ 4</a></h3>
      </div>
      <div id="my-account-4" class="panel-collapse collapse" data-bs-parent="#faq">
        <div class="panel-body">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플
        </div>
      </div>
    </div>
    <div class="panel panel-default single-my-account m-0" data-aos="fade-up" data-aos-delay="200">
      <div class="panel-heading my-account-title">
        <h3 class="panel-title"><span>5 .</span> <a data-bs-toggle="collapse" href="#my-account-5">FAQ 5</a>
        </h3>
      </div>
      <div id="my-account-5" class="panel-collapse collapse" data-bs-parent="#faq">
        <div class="panel-body">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플
        </div>
      </div>
    </div>
  </div>
</div>
