<div class="footer-area">
  <div class="footer-container">
    <div class="footer-top">
      <div class="container">
        <div class="col-auto align-self-center">
          <div class="header-logo">
            <a href="/"><img src="assets/images/logo/logo.png" alt="Site Logo" /></a>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-2 col-lg-2">
            <h4 class="footer-herading footer-nineso-text">이용약관</h4>
          </div>
          <div class="col-md-2 col-lg-2">
            <h4 class="footer-herading footer-nineso-text align-self-center">개인정보처리방침</h4>
          </div>
          <div class="col-md-2 col-lg-2">
            <h4 class="footer-herading footer-nineso-text">공지사항</h4>
          </div>
          <div class="col-md-2 col-lg-2">
            <h4 class="footer-herading footer-nineso-text">FAQ & 문의하기</h4>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 col-lg-6 mb-md-30px mb-lm-30px" data-aos="fade-up" data-aos-delay="200">
            <p class="about-text">서비스명: 나인소 | 상호명: 레지스탕스 | 대표: 임찬솔 | 주소: 서울특별시 중구 청계천로 100 1025호
              <br>사업자등록번호: 370-27-00982 | 통신판매업신고번호: ????
              <br>개인정보책임관리자: 송영욱(fordifferencekr@gmail.com) | 팩스: 0504-069-7048
              <br>copyright ⓒ 나인소 all Rights Reserved
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
