<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>나인소</title>
  <!-- <meta name="description" content="240+ Best Bootstrap Templates are available on this website. Find your template for your project compatible with the most popular HTML library in the world." /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="profile" href="https://gmpg.org/xfn/11">
  <!-- <link rel="canonical" href="https://htmldemo.hasthemes.com/furns/" /> -->

  <!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <!-- <meta property="og:title" content="Furns - Responsive eCommerce HTML Template" /> -->
  <meta property="og:url" content="PAGE_URL" />
  <meta property="og:site_name" content="나인소 - 텍스트텍스트텍스트텍스트" />
  <!-- For the og:image content, replace the # with a link of an image -->
  <meta property="og:image" content="#" />
  <meta property="og:description" content="나인소 - 텍스트텍스트텍스트텍스트" />
  <meta name="robots" content="noindex, follow" />
  <!-- Add site Favicon -->
  <link rel="icon" href="assets/images/favicon/favicon.png" sizes="32x32" />
  <link rel="icon" href="assets/images/favicon/favicon.png" sizes="192x192" />
  <link rel="apple-touch-icon" href="assets/images/favicon/favicon.png" />
  <meta name="msapplication-TileImage" content="assets/images/favicon/favicon.png" />
  <!-- Structured Data  -->
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "Replace_with_your_site_title",
      "url": "Replace_with_your_site_URL"
    }
  </script>

  <!-- vendor css (Bootstrap & Icon Font) -->
  <link rel="stylesheet" href="assets/css/vendor/simple-line-icons.css" />
  <link rel="stylesheet" href="assets/css/vendor/ionicons.min.css" />

  <!-- plugins css (All Plugins Files) -->
  <link rel="stylesheet" href="assets/css/plugins/animate.css" />
  <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />
  <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css" />
  <link rel="stylesheet" href="assets/css/plugins/jquery.lineProgressbar.css">
  <link rel="stylesheet" href="assets/css/plugins/nice-select.css" />
  <link rel="stylesheet" href="assets/css/plugins/venobox.css" />

  <!-- Use the minified version files listed below for better performance and remove the files listed above -->
  <!-- <link rel="stylesheet" href="assets/css/vendor/vendor.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css" />
    <link rel="stylesheet" href="assets/css/style.min.css"> -->

  <!-- Main Style -->
  <link rel="stylesheet" href="assets/css/style.css" />
  <!-- Custom Style -->
  <link rel="stylesheet" href="assets/css/custom.css" />

</head>

<body>
  <!-- Header Area start  -->
  <%include ./header %>
  <!-- Header Area End  -->

  <!-- OffCanvas Cart Start -->
  <%include ./offcanvas-cart %>
  <!-- OffCanvas Cart End -->

  <!-- OffCanvas Mobile-Menu Start -->
  <%include ./offcanvas-mobile-menu %>
  <!-- OffCanvas Menu End -->


  <div class="offcanvas-overlay"></div>

  <!-- Hero/Intro Slider Start -->
  <div class="section ">
    <div class="hero-slider swiper-container slider-nav-style-1 slider-dot-style-1">
      <!-- Hero slider Active -->
      <div class="swiper-wrapper">
        <!-- Single slider item -->
        <%include ./section-banner %>
        <!-- Single slider item -->
        <%include ./section-banner %>
        <!-- Single slider item -->
        <%include ./section-banner %>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination swiper-pagination-white"></div>
      <!-- Add Arrows -->
      <div class="swiper-buttons">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>

  <!-- Hero/Intro Slider End -->

  <!-- Product Category Start -->
  <div class="section pt-100px pb-100px">
    <div class="container">
      <div class="category-slider swiper-container" data-aos="fade-up">
        <div class="category-wrapper swiper-wrapper">
          <!-- Single Category -->
          <div class=" swiper-slide">
            <a href="#" class="category-inner ">
              <div class="category-single-item">
                <img src="assets/images/icons/1.png" alt="">
                <span class="title">아이콘아이콘</span>
              </div>
            </a>
          </div>
          <!-- Single Category -->
          <div class=" swiper-slide">
            <a href="#" class="category-inner ">
              <div class="category-single-item">
                <img src="assets/images/icons/2.png" alt="">
                <span class="title">아이콘아이콘</span>
              </div>
            </a>
          </div>
          <!-- Single Category -->
          <div class=" swiper-slide">
            <a href="#" class="category-inner ">
              <div class="category-single-item">
                <img src="assets/images/icons/3.png" alt="">
                <span class="title">아이콘아이콘</span>
              </div>
            </a>
          </div>
          <!-- Single Category -->
          <div class=" swiper-slide">
            <a href="#" class="category-inner ">
              <div class="category-single-item">
                <img src="assets/images/icons/4.png" alt="">
                <span class="title">아이콘아이콘</span>
              </div>
            </a>
          </div>
          <!-- Single Category -->
          <div class="swiper-slide">
            <a href="#" class="category-inner ">
              <div class="category-single-item">
                <img src="assets/images/icons/5.png" alt="">
                <span class="title">아이콘아이콘</span>
              </div>
            </a>
          </div>
          <!-- Single Category -->
        </div>
      </div>
    </div>
  </div>

  <!-- Product Category End -->

  <!-- Product tab Area Start -->
  <div class="section product-tab-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center" data-aos="fade-up">
          <div class="section-title mb-0">
            <h2 class="title">"나인소 상품"</h2>
            <p class="sub-title mb-6">당신만을 위한 상품 추천</p>
          </div>
        </div>

        <!-- Tab Start mb-8 -->
        <div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="200">
          <ul class="product-tab-nav nav justify-content-center">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#tab-product-new-arrivals">거실가구</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-product-best-sellers">침실가구</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-product-sale-item">수납가구</a></li>
          </ul>
        </div>

        <!-- Tab End -->
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="tab-content">
            <!-- 1st tab start -->
            <div class="tab-pane fade show active" id="tab-product-new-arrivals">
              <%include ./product-list %>
            </div>
            <!-- 1st tab end -->
            <!-- 2nd tab start -->
            <div class="tab-pane fade" id="tab-product-best-sellers">
              <%include ./product-list0 %>
            </div>
            <!-- 2nd tab end -->
            <!-- 3rd tab start -->
            <div class="tab-pane fade" id="tab-product-sale-item">
              <%include ./product-list1 %>
            </div>
            <!-- 3rd tab end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Product tab Area End -->
  </br>
  <hr>
  <!-- nineso layout Start -->
  <div class="section pb-100px pt-100px">
    <div class="container">
      <div class="tab-pane fade show active" id="tab-product-new-arrivals">
        <div class="row">
          <div class="col-lg-4 col-12 mb-md-30px mb-lm-30px" data-aos="fade-up" data-aos-delay="200">
            <a href="#" class="banner">
              <img src="http://gdimg.gmarket.co.kr/374907063/still/300" alt="" />
              <div class="info justify-content-end">
                <div class="content align-self-center">
                  <h3 class="title">
                    레지스탕스<br /> 나인소
                  </h3>
                  <p>텍스트 샘플 텍스트 샘플 텍스트 샘플</p>
                </div>
              </div>
            </a>
            <div class="content">
              <div class="shop-sidebar-wrap mt-4">
                <div class="sidebar-widget mt-40px">
                  <div class="sidebar-widget-tag d-inline-block">
                    <ul>
                      <li><a href="#">선반</a></li>
                      <li><a href="#">수납장</a></li>
                      <li><a href="#">파티션</a></li>
                      <li><a href="#">수납박스/바스켓</a></li>
                      <li><a href="#">신발장/현관</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 mb-6" data-aos="fade-up" data-aos-delay="200">
            <!-- Single Prodect -->
            <div class="product">
              <div class="thumb">
                <a href="#" class="image">
                  <!-- <img src="assets/images/product-image/1.jpg" alt="Product" />
                  <img class="hover-image" src="assets/images/product-image/1.jpg" alt="Product" /> -->
                  <img src="http://gdimg.gmarket.co.kr/1471231707/still/400" alt="Product" />
                  <img class="hover-image" src="http://gdimg.gmarket.co.kr/1471231707/still/400" alt="Product" />
                </a>
                <span class="badges">
                  <span class="new">New</span>
                </span>
                <div class="actions">
                  <a href="#" class="action wishlist" title="Wishlist"><i class="icon-heart"></i></a>
                  <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="icon-size-fullscreen"></i></a>
                  <a href="#" class="action compare" title="Compare"><i class="icon-refresh"></i></a>
                </div>
                <button title="Add To Cart" class=" add-to-cart">나인소 비교함 담기</button>
              </div>
              <div class="content">
                <h5 class="title"><a href="#">브랜드</a></h5>
                <h5 class="title">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 </h5>
                <span class="price">
                  <span class="new">456,000</span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 mb-6" data-aos="fade-up" data-aos-delay="400">
            <!-- Single Prodect -->
            <div class="product">
              <div class="thumb">
                <a href="#" class="image">
                  <!-- <img src="assets/images/product-image/1.jpg" alt="Product" />
                  <img class="hover-image" src="assets/images/product-image/1.jpg" alt="Product" /> -->
                  <img src="http://gdimg.gmarket.co.kr/374907063/still/400" alt="Product" />
                  <img class="hover-image" src="http://gdimg.gmarket.co.kr/374907063/still/400" alt="Product" />
                </a>
                <span class="badges">

                  <span class="new">New</span>
                </span>
                <div class="actions">
                  <a href="#" class="action wishlist" title="Wishlist"><i class="icon-heart"></i></a>
                  <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="icon-size-fullscreen"></i></a>
                  <a href="#" class="action compare" title="Compare"><i class="icon-refresh"></i></a>
                </div>
                <button title="Add To Cart" class=" add-to-cart">나인소 비교함 담기</button>
              </div>
              <div class="content">
                <h5 class="title"><a href="#">브랜드</a></h5>
                <h5 class="title">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 </h5>
                <span class="price">
                  <span class="new">456,000</span>
                </span>
              </div>
            </div>
            <!-- Single Prodect -->
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 mb-6" data-aos="fade-up" data-aos-delay="600">
            <!-- Single Prodect -->
            <div class="product">
              <div class="thumb">
                <a href="#" class="image">
                  <!-- <img src="assets/images/product-image/1.jpg" alt="Product" />
                  <img class="hover-image" src="assets/images/product-image/1.jpg" alt="Product" /> -->
                  <img src="http://gdimg.gmarket.co.kr/1907312114/still/400" alt="Product" />
                  <img class="hover-image" src="http://gdimg.gmarket.co.kr/1907312114/still/400" alt="Product" />
                </a>
                <span class="badges">
                  <span class="sale">-7%</span>
                </span>
                <div class="actions">
                  <a href="#" class="action wishlist" title="Wishlist"><i class="icon-heart"></i></a>
                  <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="icon-size-fullscreen"></i></a>
                  <a href="#" class="action compare" title="Compare"><i class="icon-refresh"></i></a>
                </div>
                <button title="Add To Cart" class=" add-to-cart">나인소 비교함 담기</button>
              </div>
              <div class="content">
                <h5 class="title"><a href="#">브랜드</a></h5>
                <h5 class="title">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 </h5>
                <span class="price">
                  <span class="new">456,000</span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 mb-6" data-aos="fade-up" data-aos-delay="800">
            <!-- Single Prodect -->
            <div class="product">
              <div class="thumb">
                <a href="#" class="image">
                  <!-- <img src="assets/images/product-image/1.jpg" alt="Product" />
                  <img class="hover-image" src="assets/images/product-image/1.jpg" alt="Product" /> -->
                  <img src="http://gdimg.gmarket.co.kr/1890308805/still/400" alt="Product" />
                  <img class="hover-image" src="http://gdimg.gmarket.co.kr/1890308805/still/400" alt="Product" />
                </a>
                <span class="badges">
                  <span class="new">New</span>
                </span>
                <div class="actions">
                  <a href="#" class="action wishlist" title="Wishlist"><i class="icon-heart"></i></a>
                  <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="icon-size-fullscreen"></i></a>
                  <a href="#" class="action compare" title="Compare"><i class="icon-refresh"></i></a>
                </div>
                <button title="Add To Cart" class=" add-to-cart">나인소 비교함 담기</button>
              </div>
              <div class="content">
                <h5 class="title"><a href="#">브랜드</a></h5>
                <h5 class="title">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 </h5>
                <span class="price">
                  <span class="new">456,000</span>
                </span>
              </div>
            </div>
            <!-- Single Prodect -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- nineso layout end -->
  </br>
  <hr>
  <!-- Banner Section Start -->
  <div class="section pb-100px pt-100px">
    <div class="container">
      <!-- Banners Start -->
      <div class="row">
        <!-- Banner Start -->
        <div class="col-lg-5 col-12 mb-md-30px mb-lm-30px" data-aos="fade-up" data-aos-delay="200">
          <a href="#" class="banner">
            <img src="http://gdimg.gmarket.co.kr/374907063/still/300" alt="" />
            <div class="info justify-content-end">
              <div class="content align-self-center">
                <h3 class="title">
                  레지스탕스<br /> 나인소
                </h3>
                <p>텍스트 샘플 텍스트 샘플 텍스트 샘플</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-6">
          <div class="shop-sidebar-wrap mt-4">
            <div class="sidebar-widget mt-40px">
              <div class="sidebar-widget-tag d-inline-block">
                <ul>
                  <li><a href="#">선반</a></li>
                  <li><a href="#">수납장</a></li>
                  <li><a href="#">파티션</a></li>
                  <li><a href="#">수납박스/바스켓</a></li>
                  <li><a href="#">신발장/현관</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Banner End -->

        <!-- Banner Start -->
        <!-- <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-delay="400">
          <a href="#" class="banner">
            <img src="assets/images/banner/2.jpg" alt="" />
            <div class="info justify-content-start">
              <div class="content align-self-center">
                <h3 class="title">
                  Office Chair <br /> For Best Offer</h3>
                <p>Great Discounts Here</p>
              </div>
            </div>
          </a>
        </div> -->
        <!-- Banner End -->
      </div>
      <!-- Banners End -->
      </br>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6" data-aos="fade-up" data-aos-delay="200">
          <!-- Single Prodect -->
          <div class="product">
            <div class="thumb">
              <a href="#" class="image">
                <!-- <img src="assets/images/product-image/1.jpg" alt="Product" />
                <img class="hover-image" src="assets/images/product-image/1.jpg" alt="Product" /> -->
                <img src="http://gdimg.gmarket.co.kr/1471231707/still/400" alt="Product" />
                <img class="hover-image" src="http://gdimg.gmarket.co.kr/1471231707/still/400" alt="Product" />
              </a>
              <span class="badges">
                <span class="new">New</span>
              </span>
              <div class="actions">
                <a href="#" class="action wishlist" title="Wishlist"><i class="icon-heart"></i></a>
                <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="icon-size-fullscreen"></i></a>
                <a href="#" class="action compare" title="Compare"><i class="icon-refresh"></i></a>
              </div>
              <button title="Add To Cart" class=" add-to-cart">나인소 비교함 담기</button>
            </div>
            <div class="content">
              <h5 class="title"><a href="#">브랜드</a></h5>
              <h5 class="title">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 </h5>
              <span class="price">
                <span class="new">456,000</span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6" data-aos="fade-up" data-aos-delay="400">
          <!-- Single Prodect -->
          <div class="product">
            <div class="thumb">
              <a href="#" class="image">
                <!-- <img src="assets/images/product-image/1.jpg" alt="Product" />
                <img class="hover-image" src="assets/images/product-image/1.jpg" alt="Product" /> -->
                <img src="http://gdimg.gmarket.co.kr/374907063/still/400" alt="Product" />
                <img class="hover-image" src="http://gdimg.gmarket.co.kr/374907063/still/400" alt="Product" />
              </a>
              <span class="badges">

                <span class="new">New</span>
              </span>
              <div class="actions">
                <a href="#" class="action wishlist" title="Wishlist"><i class="icon-heart"></i></a>
                <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="icon-size-fullscreen"></i></a>
                <a href="#" class="action compare" title="Compare"><i class="icon-refresh"></i></a>
              </div>
              <button title="Add To Cart" class=" add-to-cart">나인소 비교함 담기</button>
            </div>
            <div class="content">
              <h5 class="title"><a href="#">브랜드</a></h5>
              <h5 class="title">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 </h5>
              <span class="price">
                <span class="new">456,000</span>
                <span class="old">400,000</span>
              </span>
            </div>
          </div>
          <!-- Single Prodect -->
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6" data-aos="fade-up" data-aos-delay="600">
          <!-- Single Prodect -->
          <div class="product">
            <div class="thumb">
              <a href="#" class="image">
                <!-- <img src="assets/images/product-image/1.jpg" alt="Product" />
                <img class="hover-image" src="assets/images/product-image/1.jpg" alt="Product" /> -->
                <img src="http://gdimg.gmarket.co.kr/1907312114/still/400" alt="Product" />
                <img class="hover-image" src="http://gdimg.gmarket.co.kr/1907312114/still/400" alt="Product" />
              </a>
              <span class="badges">
                <span class="sale">-7%</span>
              </span>
              <div class="actions">
                <a href="#" class="action wishlist" title="Wishlist"><i class="icon-heart"></i></a>
                <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="icon-size-fullscreen"></i></a>
                <a href="#" class="action compare" title="Compare"><i class="icon-refresh"></i></a>
              </div>
              <button title="Add To Cart" class=" add-to-cart">나인소 비교함 담기</button>
            </div>
            <div class="content">
              <h5 class="title"><a href="#">브랜드</a></h5>
              <h5 class="title">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 </h5>
              <span class="price">
                <span class="new">456,000</span>
                <span class="old">400,000</span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6" data-aos="fade-up" data-aos-delay="800">
          <!-- Single Prodect -->
          <div class="product">
            <div class="thumb">
              <a href="#" class="image">
                <!-- <img src="assets/images/product-image/1.jpg" alt="Product" />
                <img class="hover-image" src="assets/images/product-image/1.jpg" alt="Product" /> -->
                <img src="http://gdimg.gmarket.co.kr/1890308805/still/400" alt="Product" />
                <img class="hover-image" src="http://gdimg.gmarket.co.kr/1890308805/still/400" alt="Product" />
              </a>
              <span class="badges">
                <span class="new">New</span>
              </span>
              <div class="actions">
                <a href="#" class="action wishlist" title="Wishlist"><i class="icon-heart"></i></a>
                <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="icon-size-fullscreen"></i></a>
                <a href="#" class="action compare" title="Compare"><i class="icon-refresh"></i></a>
              </div>
              <button title="Add To Cart" class=" add-to-cart">나인소 비교함 담기</button>
            </div>
            <div class="content">
              <h5 class="title"><a href="#">브랜드</a></h5>
              <h5 class="title">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 </h5>
              <span class="price">
                <span class="new">456,000</span>
              </span>
            </div>
          </div>
          <!-- Single Prodect -->
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-md-30px mb-lm-30px" data-aos="fade-up" data-aos-delay="200">
          <!-- Single Prodect -->
          <div class="product">
            <div class="thumb">
              <a href="#" class="image">
                <img src="http://gdimg.gmarket.co.kr/1718766024/still/400" alt="Product" />
                <img class="hover-image" src="http://gdimg.gmarket.co.kr/1718766024/still/400" alt="Product" />
              </a>
              <span class="badges">
                <span class="sale">-5%</span>
                <span class="new">New</span>
              </span>
              <div class="actions">
                <a href="#" class="action wishlist" title="Wishlist"><i class="icon-heart"></i></a>
                <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="icon-size-fullscreen"></i></a>
                <a href="#" class="action compare" title="Compare"><i class="icon-refresh"></i></a>
              </div>
              <button title="Add To Cart" class=" add-to-cart">나인소 비교함 담기</button>
            </div>
            <div class="content">
              <h5 class="title"><a href="#">브랜드</a></h5>
              <h5 class="title">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 </h5>
              <span class="price">
                <span class="new">456,000</span>
                <span class="old">400,000</span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6  mb-md-30px mb-lm-30px" data-aos="fade-up" data-aos-delay="400">
          <!-- Single Prodect -->
          <div class="product">
            <div class="thumb">
              <a href="#" class="image">
                <img src="http://gdimg.gmarket.co.kr/2000173863/still/400" alt="Product" />
                <img class="hover-image" src="http://gdimg.gmarket.co.kr/2000173863/still/400" alt="Product" />
              </a>
              <span class="badges">
              </span>
              <div class="actions">
                <a href="#" class="action wishlist" title="Wishlist"><i class="icon-heart"></i></a>
                <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="icon-size-fullscreen"></i></a>
                <a href="#" class="action compare" title="Compare"><i class="icon-refresh"></i></a>
              </div>
              <button title="Add To Cart" class=" add-to-cart">나인소 비교함 담기</button>
            </div>
            <div class="content">
              <h5 class="title"><a href="#">브랜드</a></h5>
              <h5 class="title">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 </h5>
              <span class="price">
                <span class="new">456,000</span>
              </span>
            </div>
          </div>
          <!-- Single Prodect -->
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-es-30px" data-aos="fade-up" data-aos-delay="600">
          <!-- Single Prodect -->
          <div class="product">
            <div class="thumb">
              <a href="#" class="image">
                <img src="http://gdimg.gmarket.co.kr/1777907482/still/400" alt="Product" />
                <img class="hover-image" src="http://gdimg.gmarket.co.kr/1777907482/still/400" alt="Product" />
              </a>
              <span class="badges">
              </span>
              <div class="actions">
                <a href="#" class="action wishlist" title="Wishlist"><i class="icon-heart"></i></a>
                <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="icon-size-fullscreen"></i></a>
                <a href="#" class="action compare" title="Compare"><i class="icon-refresh"></i></a>
              </div>
              <button title="Add To Cart" class=" add-to-cart">나인소 비교함 담기</button>
            </div>
            <div class="content">
              <h5 class="title"><a href="#">브랜드</a></h5>
              <h5 class="title">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 </h5>
              <span class="price">
                <span class="new">456,000</span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 " data-aos="fade-up" data-aos-delay="800">
          <!-- Single Prodect -->
          <div class="product">
            <div class="thumb">
              <a href="#" class="image">
                <img src="http://gdimg.gmarket.co.kr/374907063/still/400" alt="Product" />
                <img class="hover-image" src="http://gdimg.gmarket.co.kr/374907063/still/400" alt="Product" />
              </a>
              <span class="badges">
                <span class="new">New</span>
              </span>
              <div class="actions">
                <a href="#" class="action wishlist" title="Wishlist"><i class="icon-heart"></i></a>
                <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="icon-size-fullscreen"></i></a>
                <a href="#" class="action compare" title="Compare"><i class="icon-refresh"></i></a>
              </div>
              <button title="Add To Cart" class=" add-to-cart">나인소 비교함 담기</button>
            </div>
            <div class="content">
              <h5 class="title"><a href="#">브랜드</a></h5>
              <h5 class="title">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 </h5>
              <span class="price">
                <span class="new">456,000</span>
              </span>
            </div>
          </div>
          <!-- Single Prodect -->
        </div>
      </div>

    </div>
  </div>
  <!-- Banner Section End -->

  <!-- Footer Area Start -->
  <%include ./footer %>
  <!-- Footer Area End -->

  <!-- Modal -->
  <%include ./modal %>
  <!-- Modal end -->







  <!-- Global Vendor, plugins JS -->

  <!-- Vendor JS -->
  <!-- <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script> -->

  <!--Plugins JS-->
  <!-- <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/jquery-ui.min.js"></script>
    <script src="assets/js/plugins/jquery.nice-select.min.js"></script>
    <script src="assets/js/plugins/countdown.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.waypoints.js"></script>
    <script src="assets/js/plugins/jquery.lineProgressbar.js"></script>
    <script src="assets/js/plugins/jquery.zoom.min.js"></script>
    <script src="assets/js/plugins/venobox.min.js"></script>
    <script src="assets/js/plugins/ajax-mail.js"></script> -->

  <!-- Use the minified version files listed below for better performance and remove the files listed above -->
  <script src="assets/js/vendor/vendor.min.js"></script>
  <script src="assets/js/plugins/plugins.min.js"></script>

  <!-- Main Js -->
  <script src="assets/js/main.js"></script>
</body>

</html>
