<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12 mb-lm-30px mb-sm-30px">
            <!-- Swiper -->
            <div class="swiper-container gallery-top mb-4">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img class="img-responsive m-auto" src="http://gdimg.gmarket.co.kr/1471231707/still/400" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto" src="http://gdimg.gmarket.co.kr/374907063/still/400" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto" src="http://gdimg.gmarket.co.kr/1471231707/still/400" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto" src="http://gdimg.gmarket.co.kr/374907063/still/400" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto" src="http://gdimg.gmarket.co.kr/1471231707/still/400" alt="">
                </div>
              </div>
            </div>
            <div class="swiper-container gallery-thumbs slider-nav-style-1 small-nav">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img class="img-responsive m-auto" src="http://gdimg.gmarket.co.kr/1471231707/still/400" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto" src="http://gdimg.gmarket.co.kr/374907063/still/400" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto" src="http://gdimg.gmarket.co.kr/1471231707/still/400" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto" src="http://gdimg.gmarket.co.kr/374907063/still/400" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto" src="http://gdimg.gmarket.co.kr/1471231707/still/400" alt="">
                </div>
              </div>
              <!-- Add Arrows -->
              <div class="swiper-buttons">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="product-details-content quickview-content">
              <h2>상품명 상품명 상품명</h2>
              <p class="reference">브랜드<span> 브랜드브랜드브랜드</span></p>
              <div class="pro-details-rating-wrap">
                <div class="rating-product">
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                </div>
                <span class="read-review"><a class="reviews" href="#">리뷰 (1)</a></span>
              </div>
              <div class="pricing-meta">
                <ul>
                  <li class="old-price not-cut">456,000</li>
                </ul>
              </div>
              <p class="quickview-para">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플</p>
              <div class="pro-details-size-color">
                <div class="pro-details-color-wrap">
                  <span>옵션</span>
                  <!-- <div class="pro-details-color-content">
                    <ul>
                      <li class="blue"></li>
                      <li class="maroon active"></li>
                    </ul>
                  </div> -->
                </div>
              </div>
              <div class="pro-details-quality">
                <!-- <div class="cart-plus-minus">
                  <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" />
                </div> -->
                <div class="pro-details-cart btn-hover">
                  <button class="add-cart btn btn-nineso">찜목록 담기</button>
                </div>
                <div class="pro-details-cart btn-hover">
                  <button class="add-cart btn btn-nineso ml-4">나인소 비교함 담기</button>
                </div>
              </div>
              <div class="pro-details-wish-com">
                <div class="pro-details-wishlist">
                  <a href="#"><i class="ion-android-favorite-outline"></i>찜목록 담기</a>
                </div>
                <div class="pro-details-compare">
                  <a href="#"><i class="ion-ios-shuffle-strong"></i>나인소 비교함 담기</a>
                </div>
              </div>
              <div class="pro-details-social-info">
                <span>공유하기</span>
                <div class="social-info">
                  <ul>
                    <li>
                      <a href="#"><i class="ion-social-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-social-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-social-google"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-social-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
