<div class="modal fade" id="exampleModal-memo" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
      </div>
      <div class="modal-body">
        <h3 class="text-center">특성</h3>
        <form class="action-form" action="#">
          <input class="form-control" placeholder="직접 찾아 입력하세요." type="text">
          <button class="submit" type="submit"><i class="icon-note"></i></button>
        </form>
        <hr>
          <!-- IFrame start -->
          <div class="col-md-12 col-sm-12 col-xs-12 mb-lm-30px mb-sm-30px">
            <div class="container-iframe-modal">
              <iframe class="responsive-iframe" src="https://www.coupang.com/vp/products/1601845472?itemId=2736016872&vendorItemId=70726113183&q=%EC%B1%85%EC%83%81&itemsCount=36&searchId=48100c35ea1a45fc86b1826014302635&rank=1&isAddedCart="></iframe>
            </div>
          </div>
          <!-- Iframe end -->
      </div>
    </div>
  </div>
</div>
