<ul class="mega-menu d-block">
  <li class="d-flex">
    <ul class="d-block">
      <li class="title"><a href="/product-medium">소파</a></li>
      <li><a href="/product-small">일반 소파</a></li>
      <li><a href="#">빈백 소파</a></li>
      <li><a href="#">소파 베드</a></li>
      <li><a href="#">리클라이너 소파</a></li>
      <li><a href="#">좌식 소파</a></li>
      <li><a href="#">카우치형 소파</a></li>
      <li><a href="#">모듈형 소파</a></li>
      <li><a href="#">소파 스툴</a></li>
    </ul>
    <ul class="d-block">
      <li class="title"><a href="#">거실 테이블</a></li>
      <li><a href="#">소파/거실 테이블</a></li>
      <li><a href="#">리프트업 소파 테이블</a></li>
      <li><a href="#">접이식 거실 테이블</a></li>
      <li><a href="#">수납형 거실 테이블</a></li>
      <li><a href="#">확장형 거실 테이블</a></li>
      <li><a href="#">사이드 테이블</a></li>
    </ul>
    <ul class="d-block">
      <li class="title"><a href="#">티비장</a></li>
      <li><a href="#">일반 티비장</a></li>
      <li><a href="#">확장형 티비장</a></li>
      <li><a href="#">월플렉스 티비장</a></li>
      <li><a href="#">티비 거치대</a></li>
    </ul>
    <ul class="d-block">
      <li class="title"><a href="#">의자</a></li>
      <li><a href="#">인테리어 의자</a></li>
      <li><a href="#">좌식 의자</a></li>
      <li><a href="#">접이식 의자</a></li>
      <li><a href="#">흔들 의자</a></li>
      <li><a href="#">안락 의자</a></li>
      <li><a href="#">스툴</a></li>
      <li><a href="#">벤치</a></li>
      <li><a href="#">그네 의자</a></li>
    </ul>
    <ul class="d-block">
      <li class="title"><a href="#">거실 수납가구</a></li>
      <li><a href="#">서랍장</a></li>
      <li><a href="#">책장</a></li>
      <li><a href="#">진열장/장식장</a></li>
      <li><a href="#">코너장</a></li>
      <li><a href="#">콘솔</a></li>
      <li><a href="#">파티션</a></li>
    </ul>
    <ul class="d-block">
    <li>
      <a class="p-0" href="#"><img class="img-responsive w-100" src="assets/images/slider-image/slider-1.png" alt=""></a>
    </li>
    </ul>
  </li>
  <li>

    <ul class="menu-banner w-100">
      <li>
        <a class="p-0" href="#"><img class="img-responsive w-100" src="assets/images/slider-image/slider-1.png" alt=""></a>
      </li>
      <li>
        <a class="p-0" href="#"><img class="img-responsive w-100" src="assets/images/slider-image/slider-1.png" alt=""></a>
      </li>
    </ul>
  </li>
</ul>
