<div id="offcanvas-cart" class="offcanvas offcanvas-cart">
  <div class="inner">
    <div class="head">
      <span class="title">최근 본 상품/비교함/찜목록</span>
      <button class="offcanvas-close">×</button>
    </div>
    <div class="body customScroll">
      <ul class="minicart-product-list">
        <li>
          <a href="#" class="image"><img src="http://gdimg.gmarket.co.kr/1471231707/still/400" alt="Cart product Image"></a>
          <div class="content">
            <a href="#" class="title">상품명 상품명 상품명</a>
            <span class="quantity-price">aaa <span class="amount">456,000</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
        <li>
          <a href="#" class="image"><img src="http://gdimg.gmarket.co.kr/1471231707/still/400" alt="Cart product Image"></a>
          <div class="content">
            <a href="#" class="title">상품명 상품명 상품명</a>
            <span class="quantity-price">bbb <span class="amount">456,000</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
        <li>
          <a href="#" class="image"><img src="http://gdimg.gmarket.co.kr/1471231707/still/400" alt="Cart product Image"></a>
          <div class="content">
            <a href="#" class="title">상품명 상품명 상품명</a>
            <span class="quantity-price">ccc <span class="amount">456,000</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="foot">
      <div class="sub-total">
        <table class="table">
          <tbody>
            <tr>
              <td class="text-left">aaa :</td>
              <td class="text-right">456,000</td>
            </tr>
            <tr>
              <td class="text-left">bbb :</td>
              <td class="text-right">456,000</td>
            </tr>
            <tr>
              <td class="text-left">ccc :</td>
              <td class="text-right">456,000</td>
            </tr>
            <tr>
              <td class="text-left">ddd :</td>
              <td class="text-right theme-color">456,000</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="buttons">
        <a href="#" class="btn btn-dark btn-hover-primary mb-6">찜목록으로 가기</a>
        <a href="/compare" class="btn btn-outline-dark current-btn">나인소 비교함으로 가기</a>
      </div>
      <p class="minicart-message">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플</p>
    </div>
  </div>
</div>
