<div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
  <button class="offcanvas-close"></button>
  <div class="inner customScroll">

    <div class="offcanvas-menu mb-4">
      <ul>
        <li><a href="#"><span class="menu-text">거실가구</span></a>
          <ul class="sub-menu">
            <li><a href="/product-medium"><span class="menu-text">소파</span></a></li>
            <li><a href="#"><span class="menu-text">거실 테이블</span></a></li>
            <li><a href="#"><span class="menu-text">티비장</span></a></li>
            <li><a href="#"><span class="menu-text">의자</span></a></li>
            <li><a href="#"><span class="menu-text">거실 수납가구</span></a></li>
          </ul>
        </li>
        <li><a href="#"><span class="menu-text">침실가구</span></a>
          <ul class="sub-menu">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
          </ul>
        </li>

        <li><a href="#"><span class="menu-text">수납가구</span></a>
          <ul class="sub-menu">
            <li>
              <a href="#"><span class="menu-text">선반</span></a>
              <ul class="sub-menu">
                <li><a href="#">벽 선반</a></li>
                <li><a href="#">스탠드 선반</a></li>
                <li><a href="#">책장</a></li>
                <li><a href="#">트롤리</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><span class="menu-text">수납장</span></a>
              <ul class="sub-menu">
                <li><a href="#">서랍장</a></li>
                <li><a href="#">진열장/전시장</a></li>
                <li><a href="#">코너장</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><span class="menu-text">수납박스/바스켓</span></a>
              <ul class="sub-menu">
                <li><a href="#">수납박스</a></li>
                <li><a href="#">언더베드/옷 정리함</a>
                </li>
                <li><a href="#">바구니/바스켓</a>
                </li>
                <li><a href="#">트레이</a></li>
                <li><a href="#">서랍정리함/디바이더</a></li>
                <li><a href="#">기타수납함/정리용품</a></li>
              </ul>
            </li>
            <li><a href="#"><span class="menu-text">파티션</span></a></li>
            <li>
              <a href="#"><span class="menu-text">신발장/현관</span></a>
              <ul class="sub-menu">
                <li><a href="#">일반 신발장</a></li>
                <li><a href="#">선반형 신발장</a></li>
                <li><a href="#">벽결이형 신발장</a></li>
                <li><a href="#">박스형 신발 수납함</a></li>
                <li><a href="#">슈즈홀더</a></li>
                <li><a href="#">실내화 거치대</a></li>
                <li><a href="#">우산꽂이</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li><a href="/product-big">나인소</a></li>
        <li><a href="#">마이페이지</a></li>
      </ul>
    </div>
    <!-- OffCanvas Menu End -->

    <!-- Language Currency start -->
    <div class="offcanvas-userpanel mt-8">
      <ul>
        <!-- Language Start -->
        <li class="offcanvas-userpanel__role">
          <a href="#">Menu <i class="ion-ios-arrow-down"></i></a>
          <ul class="user-sub-menu">
            <li><a class="current" href="#">item1</a></li>
            <li><a href="#">item1</a></li>
            <li><a href="#">item2</a></li>
            <li><a href="#">item3</a></li>
          </ul>
        </li>
        <!-- Language End -->
        <!-- Currency Start -->
        <li class="offcanvas-userpanel__role">
          <a href="#">Menu <i class="ion-ios-arrow-down"></i></a>
          <ul class="user-sub-menu">
            <li><a class="current" href="#">item1</a></li>
            <li><a href="#">item1</a></li>
            <li><a href="#">item2</a></li>
            <li><a href="#">item3</a></li>
          </ul>
        </li>
        <!-- Currency End -->
      </ul>
    </div>
    <!-- Language Currency End -->
    <div class="offcanvas-social mt-auto">
      <ul>
        <li>
          <a href="#"><i class="ion-social-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="ion-social-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="ion-social-google"></i></a>
        </li>
        <li>
          <a href="#"><i class="ion-social-youtube"></i></a>
        </li>
        <li>
          <a href="#"><i class="ion-social-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
