<div class="col-lg-4  col-md-6 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-delay="200">
  <!-- Single Prodect -->
  <div class="product mb-5">
    <div class="thumb">
      <a href="/product_detail" class="image">
        <img src="http://gdimg.gmarket.co.kr/1471231707/still/400" alt="Product" />
        <img class="hover-image" src="http://gdimg.gmarket.co.kr/1471231707/still/400" alt="Product" />
      </a>
      <span class="badges">
        <span class="new">New</span>
      </span>
      <div class="actions">
        <a href="#" class="action wishlist" title="Wishlist"><i class="icon-heart"></i></a>
        <a href="#" class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="icon-size-fullscreen"></i></a>
        <a href="#" class="action compare" title="Compare"><i class="icon-refresh"></i></a>
      </div>
      <button title="Add To Cart" class=" add-to-cart">나인소 비교함 담기</button>
    </div>
    <div class="content">
      <h5 class="title"><a href="#">브랜드</a></h5>
      <h5 class="title">텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 텍스트 샘플 </h5>
      <span class="price">
        <span class="new">456,000</span>
      </span>
    </div>
  </div>
</div>
